
        <%- include('header')-%>

           <div class="full-post">
                <h1><%= Title%></h1>
                <p><%= Blog%></p>
           </div>
           <br>
           
           <div class="butons">
                <form action="/post/<%=post_id%>" method="post">
                    <button type="submit" class="btn btn-danger" value="delete">Delete</button>
                </form>
                
                <a href="/post/<%=post_id%>/edit"><button type="submit" class="btn btn-success">Edit</button></a>
                
                <button type="submit" class="btn btn-secondary " value="go-back"><a href = '/home'>Go Back</a></button>
           </div>
          
 